<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Admin) Shop information</title>
    <%- include('link') %>
</head>
<body>
    <div class="separate">

    </div>
    <%- include('nav-for-pages') %>
    <div class="container-fluid">
        <div class="container p-4">
            <div class="mb-4 text-center">
                <p class="display-3">Shop Information</p>
            </div>
            <div class="pb-5">
                <div class="col-lg-2 col-md-3 col-4 mx-auto mb-3">
                    <img class="w-100" src="/user-icon/<%= data.username.charAt(0) %>.png">
                </div>
                <div class="w-75 mx-auto">
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingInput1" value="<%= data.full_name %>" readonly>
                        <label for="floatingInput1">Name</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control" id="floatingInput2" value="<%= data.bank %>" readonly>
                        <label for="floatingInput2">Bank</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingInput3" value="<%= data.bank_number %>" readonly>
                        <label for="floatingInput3">Bank number</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>