<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Admin) Orders</title>
    <%- include('link') %>
</head>
<body>
    <div class="separate">

    </div>
    <%- include('nav-for-pages') %>
    <div class="container-fluid">
        <div class="container p-3">
            <% for(let d of data) { %>
                <div class="border my-3 p-2 rounded">
                    <p class="fs-4 text-break">Order id : <a class="text-danger" href="/admin-view-payment-products/<%= d._id %>"><%= d._id %></a></p>
                    <p class="fs-5 text-break"><%= d.buy_time %></p>
                    <p class="fs-5">Result : <b class="text-danger"><%= d.result.toLocaleString("en-US") %></b> THB</p>
                    <% if(d.confirm) { %>
                        <span class="badge bg-success fs-5">Confirmed</span>
                    <% }else if(d.cancel) { %>
                        <span class="badge bg-danger fs-5">Canceled</span>
                    <% }else { %>
                        <span class="badge bg-warning fs-5">Waiting..</span>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</body>
</html>